upstream fastcgi_backend {
  server  {{ fastcgi_backend }};
}

server {

  listen {{ listen_port }};
  server_name {{ server_name }};
  set $MAGE_ROOT {{ mage_root }};
  include {{ include_path }};
}
